

/* These styles are just to make it easier to see the blocks, initially. */

@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;400&family=Pacifico&display=swap');

.title{
	font-family:'Antonio', sans-serif;
	font-size: 20vw;
	font-weight: 400;
	justify-content: center;
	align-items: center;
	align-content: center;
	text-align: center;
	letter-spacing: 15px;
    width:100%;
	color: black;
	text-transform: uppercase;
	margin-top: 3rem;
	padding-top: 1rem;
}

.overlay{
	font-family: 'Pacifico', cursive!important;
	font-size:110vw;
	font-weight:lighter;
	font-style:display;
	color:#ECCFD8;
	opacity: 40%;
	margin-top: -190%;
	margin-left: -6rem;
	width: 100%;	
	z-index: 11;
}

.channel-description{
	font-family: 'Antonio';
	font-size: 3vw;
	font-weight: lighter;
	letter-spacing: 5px;
    margin-top: -406px;
	margin-left: 70px;
	width: 100%;
	/* margin-left: 100px; */
	text-transform: uppercase;
}

/* .image-block{
	display:grid;
	gap: 10px;
} */

body { 
margin-top:50px;
width: 100%;
margin: auto;
 padding: auto;
}
.img-block{
	display: grid;
    gap: 1em;
    margin: auto;
    padding: auto;
    justify-content: center;
}
.image-block picture{
	width: 100%;
	opacity: 0.5;
	transition: 1s all;
}
.image-block picture:hover{
	opacity: 1;
}

image{
	display:block;
	aspect-ratio: 2/2;
	width: 100%;
	
}
img{
	border-radius: 50%;
	height: 250px;
	width:250px;
	border-color: #FA8282;
	border-width: 9px;
	border-style: solid;
}
ul {
	--columns: 1;
	display: grid;
	grid-template-columns: repeat(var(--columns),1fr);
	justify-content: center;
	padding-left: 7%;
	padding-top: 10%;
	align-items: center;
	align-items: center;
	margin-top: 5rem;
	margin-bottom: 5rem;
}
li{
	margin-top: 2rem;
	/* justify-content: center; */
}

.link-block{
	border-radius: 50%;
	width:100%;
	opacity: 0.5;
	transition: 1s all;	
}
.link-block:hover{
		opacity: 1;
	}

/* .text-block{	
	height: 300px;
	width:300px;
	font-family:'baskerville', sans-serif;
	font-weight: lighter;
	font-size: large;
	font-style: italic;
	text-transform: uppercase;
	letter-spacing: 3px;
	text-align:start;
	color:#8C2641;
	opacity: 50%;
} */

.video-embed-block{
	border-radius: 50%;
	/* height: 400px; */
	width:400px;
	opacity: 0.5;
	transition: 1s all;
}

.video-embed-block:hover{
	opacity: 1;
}

.video-file-block{
	border-radius: 50%;
	width:400px;
	opacity: 0.5;
	transition: 1s all;
}
.video-file-block:hover{
	opacity: 1;
}

/* Moving circles */

.circles {
	position: absolute;
	top: 0;
	left: 0;
	max-width: 100%;
	min-width: 115%;
	height: 100%;
	overflow: hidden;
}

@keyframes animate{
	0%{
     opacity: 1;
	 border-radius: 0;
	 transform: translateY(0) rotate(0deg);
	}
	100%{
     opacity:0;
	 border-radius:50%;
	 transform: translateY(-1000px) rotate(720deg);
	}
}

.circles div {
     position:absolute;
	 display:block;
	 width: 20px;
	 height:20px;
	 background: #E6A23A;
	 bottom: -150px;
	 animation: animate 25s linear infinite;
}

.circles div:nth-child(1) {
    left: 25%;
	width: 80px;
	height: 80px;
	animation-delay:0s;	
	background-color:#FA8282;
}

.circles div:nth-child(2) {
	left: 10%;
	width: 20px;
	height: 20px;
	animation-delay: 2s;
	animation-duration: 12s;
}
.circles div:nth-child(3) {
	left: 70%;
	width: 20px;
	height: 20px;
	animation-delay: 4s;
}
.circles div:nth-child(4) {
	left: 40%;
	width: 60px;
	height: 60px;
	animation-delay: 0s;
	animation-duration: 18s;
}
.circles div:nth-child(5) {
	left: 65%;
	width: 20px;
	height: 20px;
	animation-delay: 0s;
	background-color:#FA8282;
}
.circles div:nth-child(6) {
	left: 75%;
	width: 110px;
	height: 110px;
	animation-delay: 3s;
}
.circles div:nth-child(7) {
	left: 35%;
	width: 150px;
	height: 150px;
	animation-delay: 7s;
}
.circles div:nth-child(8) {
	left: 50%;
	width: 25px;
	height: 25px;
	animation-delay: 15s;
	animation-duration: 45s;
}
.circles div:nth-child(9) {
	left: 20%;
	width: 15px;
	height: 15px;
	animation-delay: 2s;
	animation-duration: 35s;
}
.circles div:nth-child(10) {
	left: 75%;
	width: 100px;
	height: 100px;
	animation-delay: 0s;
	animation-duration: 11s;
}
.circles div:nth-child(11) {
	left: 10%;
	width: 90px;
	height: 90px;
	animation-delay: 0s;
	animation-duration: 11s;
}
.circles div:nth-child(12) {
	left: 80%;
	width: 120px;
	height: 120px;
	animation-delay: 0s;
	animation-duration: 11s;
}
.circles div:nth-child(13) {
	left: 70%;
	width: 130px;
	height: 130px;
	animation-delay: 0s;
	animation-duration: 11s;
	background-color:#FA8282;
}
.circles div:nth-child(14) {
	left: 50%;
	width: 70px;
	height: 70px;
	animation-delay: 2s;
	animation-duration: 11s;
	background-color: #8C2641;
}
.circles div:nth-child(15) {
	left: 85%;
	width: 140px;
	height: 140px;
	animation-delay: 5s;
	animation-duration: 11s;
}
.circles div:nth-child(16) {
	left: 70%;
	width: 125px;
	height: 125px;
	animation-delay: 6s;
	animation-duration: 11s;
	background-color: #8C2641;
}
.circles div:nth-child(17) {
	left: 75%;
	width: 110px;
	height: 110px;
	animation-delay: 8s;
	animation-duration: 11s;
	background-color: #8C2641;
}
.circles div:nth-child(18) {
	left: 15%;
	width: 60px;
	height: 60px;
	animation-delay: 4s;
	animation-duration: 11s;
	background-color: #8C2641;
}
.circles div:nth-child(19) {
	left: 85%;
	width: 40px;
	height: 40px;
	animation-delay: 5s;
	animation-duration: 11s;
	background-color:#FA8282;
}
.circles div:nth-child(20) {
	left: 30%;
	width: 25px;
	height: 25px;
	animation-delay: 3s;
	animation-duration: 11s;
	background-color: #8C2641;
}

/* body { padding: 2em; }

a { color: blue; }
em { font-style: italic; }
strong { font-weight: bold; } */

body, 
section,
figure {
	display: grid;
	gap: 1em;
	margin: auto;
    padding: auto;
    justify-content: center!important;
}

/* RESPONSIVE DESIGN QUERIES */

@media only screen and (min-width: 600px) {
	
		.image-block{
			display:grid;
			gap: 10px;
		}
	}

@media only screen and (min-width: 400px) {
	.title{
		font-family:'Antonio';
		font-weight: 400;
		letter-spacing: 10px;
		/* padding-left: 0; */
	}
	.overlay{
		margin-top: -180%;
		margin-left: -3rem;
	}
	
	.image-block{
		display:grid;
		gap: 10px;
	}
	/* ul{
		margin-top: 8rem;
	} */
	}
	/* @media(max-width:400px){
		ul{
			margin-top: 16rem;
		}
	} */
	ul{
		display: flex;
		flex-wrap: wrap;
	}
	li{
		flex: 1;
	

	}
	@media screen and (max-width: 575px) {
	li{
flex-basis: 50%;
	}
		}
		
		@media (min-width: 576px) and (max-width: 767px) {
	li{
		flex-basis: calc(33.33% - 20px);
	}
		}
		
		@media(min-width: 768px) and (max-width:991px){
	li{
		flex-basis: calc(25% - 20px);
	}
		}
@media (min-width:992px){
	li{
		flex-basis: calc(20% - 20px);
	}
}
	.picture {
		right:0;
	}

	@media only screen and (max-width: 600px)
{.ul{
	--columns: 4;
	display: grid;	

}
}
@media screen and (max-width:400px){
	.overlay { margin-top: -190%;
               margin-left: -4.1rem;
}
.title{
	letter-spacing: 10px!important;
}
}
	

