

/* These styles are just to make it easier to see the blocks, initially. */

@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;400&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root{
	--button-bg:#FA8282;
}
body{
	overflow-x: hidden !important;
}
.title{
	font-family:'Antonio', sans-serif;
	font-size: 12vw;
	font-weight: 400;
	justify-content: center;
	align-items: center;
	align-content: center;
	text-align: center;
	letter-spacing: 15px;
    width:100%;
	color: black;
	text-transform: uppercase;
	margin-top: 3rem;
	padding-top: 1rem;
}

.overlay{
	font-family: 'Pacifico', cursive!important;
	cursor: pointer;
	font-size:56rem;
	font-weight:lighter;
	font-style:display;
	color:#ECCFD8;
	opacity: 40%;
	margin-top: -190%;
	margin-left: -6rem;
	width: 100%;	
	z-index: 11;
}
.overlay-font{
	font-family: 'Pacifico', cursive!important;
}

.channel-description{
	font-family: 'Antonio';
	font-size: 3vw;
	font-weight: lighter;
	letter-spacing: 5px;
    margin-top: -406px;
	margin-left: 70px;
	width: 100%;
	/* margin-left: 100px; */
	text-transform: uppercase;
}

/* .image-block{
	display:grid;
	gap: 10px;
} */

body { 
margin-top:50px;
width: 100%;
margin: auto;
padding: auto;
}
.img-block{
	display: grid;
    gap: 1em;
    margin: auto;
    padding: auto;
    justify-content: center;
}
.image-block picture , .link-block picture , .video-embed-block picture , .video-file-block{
	width: 100%;
	/* height:100%; */
	border-radius: 50%;
	opacity: 0.5;
	transition: 1s all;
	z-index: 2;
}
/* .image-block picture:hover{
	background-color: rgba(128, 0, 128,0.6);
	transition: all 0.9 ease;
	z-index: 1;
} */
.overlay-image:hover, .overlay-video2:hover, .overlay-video1:hover, .overlay-link:hover{
	/* background-color: rgba(128, 0, 128,0.6); */
	z-index: 100;
	border-radius: 50%;
	transition: all 0.3 ease;
	transition: 1s all;
}
.overlay-image, .overlay-video2, .overlay-video1, .overlay-link{
	border-radius: 50%;
	width: 248px;
	height: 248px;
	position: relative;
}
/* .overlay-video2:hover{
	background-color: rgba(250, 130, 130,0.9);
}
.overlay-video1:hover{
	background-color: rgba(230, 162, 58,0.9);
}
.overlay-link:hover{
	background-color: rgba(75, 0, 187, 0.9);
} */
.hover-caption{
	font-family:'roboto'!important;
	/* font-weight: 700!important; */
	font-size: 1rem!important;
	letter-spacing: 1px!important;
	color: white !important;
	margin-top: 0 !important;
}

.title-hover{
	position: relative;
}
.overlay-text{
	border-radius: 50%;
	width: 100%;
	height:100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 1rem;
	bottom: 0;
	opacity: 0;
	position: absolute;
}

.image-block:hover .overlay-text, .block-link:hover .overlay-text , .video-embed-block:hover .overlay-text, .video-file-block:hover .overlay-text {
	background-color: rgba(128, 0, 128, 0.6);
	transition: 0.5s ease;
	opacity: 1;
}
.block-link:hover .overlay-text {
	background-color: rgba(140, 38, 65, 0.9);
}
.video-embed-block:hover .overlay-text{
	background-color: rgba(250, 130, 130, 0.9);
}
.video-file-block:hover .overlay-text{
	background-color: rgba(230, 162, 58, 0.9);
}
.section-nav button{
	border-radius: 3rem;
    width: 10rem;
    height: 2.5rem;
    border: 2px solid var(--button-bg);
    margin-right: 1rem;
    text-align: center;
	font-family: 'roboto';
	font-size: 1.2rem;
	font-weight:lighter;
	margin-bottom: 6rem;
    margin-left: 5rem;
	cursor: pointer;
}
.section-nav button:hover{
	background-color: var(--button-bg);
	color: white;
	cursor: pointer;
}
.section-nav{
	display: grid;
	/* justify-content: center; */
	text-align: center;
	grid-template-columns: repeat(3, 1fr);
	margin-top: 1rem;
}
.section-nav-wrapper{
	display: flex;
	justify-content: center;
}


/* .overlay-image:hover:before{
	content: attr(data-hover);
	padding: 5px;
	top: 100%;
	left: 0;
	width: 50px;
	background-color: red;
	text-align: center;
	
	position: absolute;
} */

/* .img-card{
	position: relative;
} */
/* .img-card .overlay{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(128, 0, 128,0.6);

} */
.image-block:hover, 
.block-link:hover ,
.video-embed-block:hover,
.video-file-block:hover 
{
	animation: scaleAni 2s linear infinite;
}
@-webkit-keyframes scaleAni{
	0%{

		-webkit-transform: scale(1);
		transform: scale(1);
	}
	50%{

		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
	100%{

		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
image{
	display:block;
	/* aspect-ratio: 2/2; */
	width: 100%;
	
}
img{
	border-radius: 50%;
	height: 250px;
	width:250px;
	border-color: #FA8282;
	border-width: 9px;
	border-style: solid;
}
/* img:hover{
	background-color: rgba(128, 0, 128,0.6);
	transition: all 0.9 ease;
	z-index: 100;
} */
ul {
	--columns: 1;
	display: grid;
	grid-template-columns: repeat(var(--columns),1fr);
	justify-content: center;
	padding-left: 0%;
	padding-top: 10%;
	align-items: center;
	align-items: center;
	margin-top: 5rem;
	margin-bottom: 5rem;
}
li{
	margin-top: 2rem;
	/* justify-content: center; */
}

.link-block{
	border-radius: 50%;
	width:100%;
	opacity: 0.5;
	transition: 1s all;	
}
.link-block:hover{
		opacity: 1;
	}

/* .text-block{	
	height: 300px;
	width:300px;
	font-family:'baskerville', sans-serif;
	font-weight: lighter;
	font-size: large;
	font-style: italic;
	text-transform: uppercase;
	letter-spacing: 3px;
	text-align:start;
	color:#8C2641;
	opacity: 50%;
} */

.video-embed-block{
	border-radius: 50%;
	/* height: 400px; */
	/* width:400px; */
	opacity: 0.5;
	transition: 1s all;
}

.video-embed-block:hover{
	opacity: 1;
}

.video-file-block{
	border-radius: 50%;
	width:400px;
	opacity: 0.5;
	transition: 1s all;
}
.video-file-block:hover{
	opacity: 1;
}

/* Moving circles */

.circles {
	position: absolute;
	top: 0;
	left: 0;
	max-width: 100%;
	min-width: 100%;
	height: 78%;
	overflow: hidden;
}

@keyframes animate{
	0%{
     opacity: 1;
	 border-radius: 50%;
	 transform: translateY(0) rotate(0deg);
	}
	100%{
     opacity:0;
	 border-radius:50%;
	 transform: translateY(-1000px) rotate(720deg);
	}
}

.circles div {
     position:absolute;
	 display:block;
	 width: 20px;
	 height:20px;
	 background: #E6A23A;
	 bottom: -150px;
	 animation: animate 25s linear infinite;
}

.circles div:nth-child(1) {
    left: 25%;
	width: 80px;
	height: 80px;
	animation-delay:0s;	
	background-color:#FA8282;
}

.circles div:nth-child(2) {
	left: 10%;
	width: 20px;
	height: 20px;
	animation-delay: 2s;
	animation-duration: 12s;
}
.circles div:nth-child(3) {
	left: 70%;
	width: 20px;
	height: 20px;
	animation-delay: 4s;
}
.circles div:nth-child(4) {
	left: 40%;
	width: 60px;
	height: 60px;
	animation-delay: 0s;
	animation-duration: 18s;
}
.circles div:nth-child(5) {
	left: 65%;
	width: 20px;
	height: 20px;
	animation-delay: 0s;
	background-color:#FA8282;
}
.circles div:nth-child(6) {
	left: 75%;
	width: 110px;
	height: 110px;
	animation-delay: 3s;
}
.circles div:nth-child(7) {
	left: 35%;
	width: 150px;
	height: 150px;
	animation-delay: 7s;
}
.circles div:nth-child(8) {
	left: 50%;
	width: 25px;
	height: 25px;
	animation-delay: 15s;
	animation-duration: 45s;
}
.circles div:nth-child(9) {
	left: 20%;
	width: 15px;
	height: 15px;
	animation-delay: 2s;
	animation-duration: 35s;
}
.circles div:nth-child(10) {
	left: 75%;
	width: 100px;
	height: 100px;
	animation-delay: 0s;
	animation-duration: 11s;
}
.circles div:nth-child(11) {
	left: 10%;
	width: 90px;
	height: 90px;
	animation-delay: 0s;
	animation-duration: 11s;
}
.circles div:nth-child(12) {
	left: 80%;
	width: 120px;
	height: 120px;
	animation-delay: 0s;
	animation-duration: 11s;
}
.circles div:nth-child(13) {
	left: 70%;
	width: 130px;
	height: 130px;
	animation-delay: 0s;
	animation-duration: 11s;
	background-color:#FA8282;
}
.circles div:nth-child(14) {
	left: 50%;
	width: 70px;
	height: 70px;
	animation-delay: 2s;
	animation-duration: 11s;
	background-color: #8C2641;
}
.circles div:nth-child(15) {
	left: 85%;
	width: 140px;
	height: 140px;
	animation-delay: 5s;
	animation-duration: 11s;
}
.circles div:nth-child(16) {
	left: 70%;
	width: 125px;
	height: 125px;
	animation-delay: 6s;
	animation-duration: 11s;
	background-color: #8C2641;
}
.circles div:nth-child(17) {
	left: 75%;
	width: 110px;
	height: 110px;
	animation-delay: 8s;
	animation-duration: 11s;
	background-color: #8C2641;
}
.circles div:nth-child(18) {
	left: 15%;
	width: 60px;
	height: 60px;
	animation-delay: 4s;
	animation-duration: 11s;
	background-color: #8C2641;
}
.circles div:nth-child(19) {
	left: 85%;
	width: 40px;
	height: 40px;
	animation-delay: 5s;
	animation-duration: 11s;
	background-color:#FA8282;
}
.circles div:nth-child(20) {
	left: 30%;
	width: 25px;
	height: 25px;
	animation-delay: 3s;
	animation-duration: 11s;
	background-color: #8C2641;
}

/* body { padding: 2em; }

a { color: blue; }
em { font-style: italic; }
strong { font-weight: bold; } */

body, 
section,
figure {
	display: grid;
	gap: 1em;
	margin: auto;
    padding: auto;
    justify-content: center!important;
}

/* RESPONSIVE DESIGN QUERIES */

@media only screen and (min-width: 600px) {
	
		.image-block{
			display:grid;
			gap: 10px;
		}
	}

@media only screen and (min-width: 400px) {
	.title{
		font-family:'Antonio';
		font-weight: 400;
		/* letter-spacing: 10px; */
		/* padding-left: 0; */
	}
	/* .overlay{
		margin-top: -190%;
		margin-left: -3rem;
	} */

	.image-block{
		display:grid;
		gap: 10px;
	}

	}
    /* @media only screen and (min-width: 500px){
    .overlay {
    margin-top: -207%;
    margin-left: -13rem;
}
} */

	ul{
		display: flex;
		flex-wrap: wrap;
	}
	li{
		flex: 1;
	}

	@media screen and (max-width: 575px) {
	li{

		flex-basis: 100%;
	}
		}
		
		@media (min-width: 576px) and (max-width: 767px) {
	li{
		flex-basis: 50%;
	}
		}
		
		@media(min-width: 768px) and (max-width:991px){
	li{
		flex-basis: calc(33.33% - 20px);
	}
		}
@media (min-width:992px){
	li{
		flex-basis: calc(25% - 20px);
	}
	ul{
		margin-top: 0;
		padding-top: 0;
	}
}
@media (min-width:1200px){
	li{
		flex-basis: calc(20% - 20px);
	}
}
	.picture {
		right:0;
	}

	@media only screen and (max-width: 600px)
{.ul{
	--columns: 4;
	display: grid;	

}
}

@media screen and (max-width: 567px){
	/* .circles{
		height: 85%;
		right: -19rem;
		top: 0;
		left: 0;
		position: absolute;
	}
	.overlay {
		margin-top: -225%;
		margin-left: -6rem;
		font-size: 24rem;
		margin-top: -230%;
		margin-left: -6rem;
		font-size: 26rem;
	} */
.section-nav{
	grid-template-columns:repeat(1, 1fr);
}
.section-nav button {
    border-radius: 3rem;
    width: 26rem;
    height: 3.5rem;
    background-color: var(--button-bg);
    border: 2px solid var(--button-bg);
	color: white;
	margin-bottom: 0rem;
	margin-top: 3rem;
}
.circles div:nth-child(6) {
	left: 55%;
	width: 95px;
	height: 95px;
	animation-delay: 3s;
}
.circles div:nth-child(7) {
	left: 35%;
	width: 120px;
	height: 120px;
	animation-delay: 7s;
}

.circles div:nth-child(10) {
	left: 65%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
	animation-duration: 11s;
}
.circles div:nth-child(11) {
	left: 5%;
	width: 70px;
	height: 70px;
	animation-delay: 0s;
	animation-duration: 11s;
}
.circles div:nth-child(12) {
	left: 80%;
	width: 100px;
	height: 100px;
	animation-delay: 0s;
	animation-duration: 11s;
}
.circles div:nth-child(13) {
	left: 10%;
	width: 105px;
	height: 105px;
	animation-delay: 0s;
	animation-duration: 11s;
	background-color:#FA8282;
}
.circles div:nth-child(14) {
	left: 0%;
	width: 65px;
	height: 65px;
	animation-delay: 2s;
	animation-duration: 11s;
	background-color: #8C2641;
}
.circles div:nth-child(15) {
	left: 15%;
	width: 115px;
	height: 115px;
	animation-delay: 5s;
	animation-duration: 11s;
}
.circles div:nth-child(16) {
	left: 45%;
	width: 85px;
	height: 85px;
	animation-delay: 6s;
	animation-duration: 11s;
	background-color: #8C2641;
}
.circles div:nth-child(17) {
	left: 20%;
	width: 89px;
	height: 89px;
	animation-delay: 8s;
	animation-duration: 11s;
	background-color: #8C2641;
}
}

@media screen and (max-width: 767px) {
	
	.video-embed-block{
		opacity: 1;	
	}
	.link-block{
		opacity: 1;	
	}
	.image-block{
		opacity: 1;	
	}
	.overlay-text{
		opacity: 1;
		padding: 1rem 2rem;
	}
	.image-block .overlay-text{
		background-color: rgba(128, 0, 128, 0.6);
		transition: 0.5s ease;
		opacity: 1;
	}
	.block-link .overlay-text {
		background-color: rgba(140, 38, 65, 0.9);
	}
	.video-embed-block .overlay-text{
		background-color: rgba(250, 130, 130, 0.9);
	}
	.video-file-block .overlay-text{
		background-color: rgba(230, 162, 58, 0.9);
	}
	.hover-caption{
		font-size: 0.7rem !important;
	}
	@-webkit-keyframes scaleAni{
		0%{
	
			-webkit-transform: scale(1);
			transform: scale(1);
		}
		50%{
	
			-webkit-transform: scale(1);
			transform: scale(1);
		}
		100%{
	
			-webkit-transform: scale(1);
			transform: scale(1);
		}
	}
}
/* @media screen and (max-width:2560px){
	.overlay  
	{	margin-top: -168%;
    	margin-left: -13rem;
		font-size: 68rem;
}
.circles{
	height: 60%;
}
} */
/* @media screen and (max-width:1920px){
	.overlay  
	{	margin-top: -171%;
    	margin-left: -13rem;
}
.circles{
	height: 89%;
}
} */
/* @media screen and (max-width:1600px){
	.overlay  
	{	margin-top: -210%;
    	margin-left: -13rem;
}
.circles{
	height: 107%;
}
} */
/* @media screen and (max-width:1536px){
	.overlay  
	{	margin-top: -190%;
    	margin-left: -13rem;
}
.circles{
	height: 95%;
}
} */
/* @media screen and (max-width:1280px){
	.overlay  
	{	margin-top: -212%;
    	margin-left: -13rem;
}
.circles{
	height: 120%;
}
} */
/* @media screen and (max-width:1400px){
	.overlay  
	{	margin-top: -215%;
    	margin-left: -13rem;
}
} */
/* @media (max-width:1300px){
	.overlay {
		margin-top: -224%;
		margin-left: -13rem;
	}
} */
@media (max-width:1360px){
	/* .overlay {
		margin-top: -202%;
		margin-left: -13rem;
	} */
	.circles{
		height: 126%;
	}
	}
/* @media (max-width:1280px){
	.overlay {
		margin-top: -209%;
		margin-left: -13rem;
	}
	.circles{
		height: 125%;
	}
	}
@media (max-width:1100px){
	.overlay {
		margin-top: -251%;
		margin-left: -13rem;
	}
} */
/* @media (max-width:1000px){
	.overlay {
		margin-top: -260%;
		margin-left: -13rem;
	}
} */
/* @media screen and (max-width:1024px){
	.overlay  
	{	margin-top: -235%;
    	margin-left: -13rem;
}
.circles{
	height: 124%;
}
} */
@media (max-width:900px){
	/* .overlay {
		margin-top: -273%;
		margin-left: -13rem;
	} */
	.hover-caption{
		font-size: 0.9rem !important;
	}
}

/* @media (max-width: 720px){
	
.overlay{
	margin-top: -250%;
    margin-left: -8rem;
	font-size: 40rem;
}
} */
@media (max-width: 640px){
	
	/* .overlay {
		margin-top: -267%;
		margin-left: -8rem;
	} */
	.section-nav button {
		margin-right: 0rem;
		margin-left: 1rem;
	}
	.section-nav button {
		width: 18rem;
	}
}

@media (max-width:420px){
	
	.section-nav button {
		width: 22rem;
	}
	/* .circles{
		height:58% !important;
	} */
	.title{
		font-size: 16vw;
		padding-top: 10rem;
	}
	.section-nav{
		margin-top: -6rem;
	}
	/* .overlay {
		margin-top: -286%;
		margin-left: -8rem;
	} */
}
@media screen and (max-width:400px){
	/* .overlay { margin-top: -248%;
               margin-left: -4.1rem;
}
	.circles{
		height: 60% !important;
	} */
.title{
	letter-spacing: 10px!important;
	padding-top: 10rem;
}
.section-nav {
    margin-top: -4rem;
}
}
@media (max-width:375px){
	/* .circles {
		height: 77% !important;
	} */
	/* .circles{
		height:65% !important;
	} */
	.title{
		font-size: 16vw;
		padding-top: 4rem;
	}
	.section-nav{
		margin-top: -6rem;
	}
	/* .overlay {
		margin-top: -240%;
		margin-left: -4.1rem;
	} */	
}
.hover-caption{
	font-family:'roboto'!important;
	/* font-weight: 700!important; */
	font-size: 1rem!important;
	letter-spacing: 1px!important;
	color: white !important;
	margin-top: 0 !important;
}

/* DESKTOP SCREENS */

@media only screen and (min-width: 2570px){
	.overlay {
		margin-top: -148%;
		margin-left: -13rem;
	}
	}
	@media (max-width:2560px){
		.overlay  
		{	
			margin-top: -115rem;
			margin-left: -13rem;
			font-size: 68rem;
	}
	.circles {
		height: 59rem;
	}
	}
	@media (max-width: 2560px){
	.overlay {
		margin-top: -112rem;
	}
	}
	@media (max-width:2300px){
		.overlay {
			margin-top: -111rem;
		}
		
	}
	@media (max-width:2200px){
		.overlay {
			margin-top: -107rem;
		}
		.circles {
			height: 59rem;
		}
	}
	@media screen and (max-width: 2100px){
	.overlay {
		margin-top: -110rem;
	}
	.circles {
		height: 57rem;
	}
	}
	@media screen and (max-width: 2000px){
	.overlay {
		margin-top: -106rem;
	}
	}
	@media (max-width:1900px){
		.overlay {
			margin-top: -104rem;
		}
		.circles {
			height: 57rem;
		}
	}
	@media (max-width: 1800px){
	.overlay {
		margin-top: -101rem;
	}
	}
	@media (max-width:1700px){
		.overlay {
			margin-top: -101rem;
		}
		.circles {
			height: 57rem;
		}
	}
	@media (max-width:1600px){
		.overlay {
			margin-top: -99rem;
		}
		.circles {
			height: 57rem;
		}
	}
	@media (max-width:1500px){
		.overlay {
			margin-top: -97rem;
		}
		.circles {
			height: 56rem;
		}
	}
	@media (max-width:1400px){
		.overlay {
			margin-top: -94rem;
		}
		.circles {
			height: 57rem;
		}
	}
	@media (max-width:1300px){
		.overlay {
			margin-top: -92rem;
		}
	}
	@media (max-width:1200px){
		.overlay {
			margin-top: -90rem;
		}
	}
	@media (max-width: 1100px){
	.overlay {
		margin-top: -88rem;
	}	
	}
	@media (max-width: 992px){
		.overlay {
			margin-top: -77rem;
			font-size: 56rem;
		}	
		.circles {
			height: 46rem;
		}
		}
		@media (max-width: 930px){
	.overlay {
		margin-top: -74rem;
		font-size: 56rem;
	}
		}
		@media (max-width: 767px){
		.overlay {
			margin-top: -72rem;
			font-size: 56rem;
		}
	}
	@media (max-width: 700px){
	.overlay {
		margin-top: -71rem;
		font-size: 56rem;
		
	}
	.section-nav{
		grid-template-columns:repeat(1, 1fr);
		
	}
	.section-nav button {
		border-radius: 3rem;
		width: 26rem;
		height: 3.5rem;
		background-color: var(--button-bg);
		border: 2px solid var(--button-bg);
		color: white;
		margin-bottom: 0rem;
		margin-top: 3rem;
	}
	}
	@media (max-width: 500px){
		.overlay {
			margin-top: -55rem;
			font-size: 36rem;
			margin-left: -4rem;
		}
		.title{
			font-size: 16vw;
			padding-top: 7rem;
		}
		.circles {
			height: 35rem;
		}
		.section-nav button {
			margin-right: 0rem;
			margin-left: 1rem;
			width: 22rem;
		}
	}
	@media (max-width: 420px){
	.overlay {
		margin-top: -54rem;
	}
	}
	@media (max-width: 400px){
	.title {
		padding-top: 4rem;
	}
	.overlay {
		margin-top: -51rem;
	}
	.circles {
		height: 30rem;
	}
	}
	@media (max-width: 375px){
	.overlay {
		margin-top: -49rem;
	}
	.circles {
		height: 29rem;
	}
	}
	.hover-caption{
		padding-top: 0;
		}
 /* *{
	background-color: #000 !important;
	color: #0f0 !important;
	outline:  solid #f00 1px !important;
}  */



	

